.contact-icon:hover {
  color: dodgerblue;
  cursor: pointer;
}

#contact-information {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

#content {
  margin: 30px auto 30px auto;
  width: 800px;
}

#fact-container {
  margin-top: 20px;
}

#gallery-header-container {
  display: flex;
  margin: 10px 0px;
}

#gallery-row {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

#icons-container {
  margin: 10px 0px;
}

.icon {
  margin: 0px 20px;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

#navbar {
  margin: auto 0px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

#page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0px 20px;
}
