#contact-information {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

#content {
  margin: 30px auto 30px auto;
  width: 800px;
}

#fact-container {
  margin-top: 20px;
}

#icons-container {
  margin: 10px 0px;
}

.icon {
  margin: 0px 20px;
}

.icon:hover {
  color: dodgerblue;
  cursor: pointer;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 300px;
  max-width: 300px;
}

#navbar {
  margin: auto 0px;
}

#page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0px 20px;
}
